section div.top {
    background: var(--pure);

    clip-path: polygon(0 0, 100% 0, 100% 100%, 70% 87%, 0 100%);
}

section.course__details {
    position: relative;
}
.checkout-p {
    width: 50%;
}
.checkout-p {
    width: 50%;
}
div.card__absolute .card {
    position: absolute;
    top: 4rem;
    right: 12rem;
}

a {
    text-decoration: none !important;
    color: inherit;
}

@media screen and (max-width: 992px) {
    div.card__absolute .card {
        top: 4rem;
        right: 0;
    }

    .checkout-h {
        width: 100%;
    }
    .checkout-p {
        width: 100%;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    section.course__details {
        height: 1200px;
    }
    div.card__absolute .card {
        top: 42rem;
        left: 6rem;
    }
}

@media screen and (max-width: 576px) {
    div.card__absolute .card {
        left: 1.5rem;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    div.card__absolute .card {
        left: 0.5rem;
        width: 250px !important;
    }
}
