section div.top {
    background: var(--pure);
}

section.course__details {
    position: relative;
}

div.card__absolute .card {
    position: absolute;
    top: 4rem;
    right: 12rem;
}

a {
    text-decoration: none !important;
    color: inherit;
}
