.left-nav a {
    display: inline-block;
    text-decoration: none;
    /* padding: 8px; */
    color: var(--footer);
    padding-bottom: 2rem;
    font-size: 18px;
}

.left-nav a:hover {
    color: var(--footer);
    background-color: var(--clr-primary-9);
    /* padding: 0; */
    border-radius: 2px;
}
